.idea
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
### Symfony template

# Managed by Composer
/var/bootstrap.php.cache512M
/bin/*
!bin/console
!bin/symfony_requirements


# PHPUnit
/phpunit.xml

# PHP-CS-FIXER
/.php_cs
/.php_cs.cache

# Docker
docker-compose.override.yml
docker/php/Dockerfile


###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
