version: "3.3"
services:

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx:/etc/nginx/conf.d
      - ./:/code
  php:
    build:
      ./docker/php
    volumes:
      - ./:/code
  mysql:
    image: mariadb
    volumes:
    - ./docker/mysql:/etc/mysql/conf.d/
    - ./docker/tmp:/opt/tmp
    restart: always
    environment:
      MYSQL_USER: simple
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: simple
      MYSQL_ROOT_PASSWORD: supersecret
    ports:
      - "3306:3306"